extends ../_template

block variables
  - var title       = 'Password generator'
  - var description = 'Password generator'
  - var ogtitle     = 'Password generator'
  - var ogimage     = 'assets/img/social.jpg'

block content
  //begin content
  main.main
    .container
      //begin main__header
      header.main__header
        h1.main__title Password generator
      //end main__header

      //begin main__form
      .main__form
        form.form
          label.form__label.form__label--range
            span
              |Password length (
              i#password-length 15
              |)
            input#p-length(type='range' value='15' max='50')

          label.form__label.form__label--checkbox
            input#p-numbers(type='checkbox' checked)
            span Numbers

          label.form__label.form__label--checkbox
            input#p-lowercase(type='checkbox' checked)
            span Lowercase

          label.form__label.form__label--checkbox
            input#p-uppercase(type='checkbox' checked)
            span Uppercase

          label.form__label.form__label--checkbox
            input#p-special(type='checkbox' checked)
            span Special characters

          button#generate-btn.form__generate-btn(type='button') Generate
      //end main__form

      //begin main__results
      .main__results
        ul#results.results
      //end main__results
  //end content
